obj_dir/
obj_dir*/
work_verilator/
*.o
*.elf
*.hex
*.bin
*.out
*.asm
*.d
*.log
*.vcd
tools/
smoke_out*
hw/axi/
hw/common_cells/
hw/cva6/
hw/fpnew/
hw/iDMA/
hw/register_interface/
hw/riscv-dbg/
scratch/
